server {
    listen 80;
    listen [::]:80;

    server_name {{ sf_register.fqdn }};

    location = /favicon.ico {
        alias {{ sf_static_root }}/favicon/favicon.ico;
    }

    location = /browserconfig.xml {
        alias {{ sf_static_root }}/favicon/browserconfig.xml;
    }

    location /static/ {
        autoindex on;
        alias {{ sf_static_root }}/;
        expires 1h;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/tmp/uwsgi-smokeyfeet.sock;
    }
}
