server {
    listen 80;
    listen [::]:80;

    server_name {{ website.domain }} {{ website.fqdn }};

    root /var/www/{{ website.fqdn }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~* \.(?:jpe?g|gif|png|js|css)$ {
        expires 1w;
    }
}
