server {
    listen 80;
    listen [::]:80;

    server_name {{ sf_website.domain }} {{ sf_website.fqdn }};

    root /var/www/{{ sf_website.fqdn }};
    index index.html;

    location ~* \.(?:jpe?g|gif|png|js|css)$ {
        expires 1h;
    }

    location / {
        try_files $uri $uri/ =404;
        expires 1h;
    }
}
