from .settings_default import *

# Django

ADMINS = [('Smokey Feet Webmaster', 'webmaster@smokeyfeet.com')]

SECRET_KEY = "{{ django_secret }}"

ALLOWED_HOSTS = ['.{{ sf_register.domain }}']

DEBUG = {{ django_debug }}

STATIC_ROOT = '{{ sf_static_root }}'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ sf_db_name }}',
        'USER': '{{ sf_db_user }}',
        'PASSWORD': '{{ sf_db_pass }}',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

DEFAULT_FROM_EMAIL = 'Smokey Feet <info@smokeyfeet.com>'
EMAIL_BACKEND = 'anymail.backends.mailgun.MailgunBackend'

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'simple': {
            'format': '%(asctime)s [%(levelname)s:%(name)s] %(message)s'
        },
    },
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '{{ sf_log_dir }}/django-smokeyfeet.log',
            'formatter': 'simple'
        },
        'console': {
            'level':'DEBUG',
            'class':'logging.StreamHandler',
            'formatter': 'simple'
        },
    },
    'loggers': {
        'django': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': True,
        },
        'registration': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': True,
        },
        'minishop': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': True,
        },
        'mollie_webhook': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': True,
        },
    }
}

# Custom

ANYMAIL = {
    "MAILGUN_API_KEY": "{{ mailgun_api_key }}",
    "MAILGUN_SENDER_DOMAIN": "mg.smokeyfeet.com",
}

EMAIL_BASE_URI = 'http://{{ sf_register.fqdn }}'

MOLLIE_API_KEY = '{{ mollie_api_key }}'
