from .default_settings import *

# Django

ADMINS = [('Smokey Feet', 'foo@example.com')]

SECRET_KEY = "{{ django_secret }}"

ALLOWED_HOSTS = ['.{{ sf_website.domain }}']

STATIC_ROOT = '{{ sf_static_root }}'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ sf_db_name }}',
        'USER': '{{ sf_db_user }}',
        'PASSWORD': '{{ sf_db_pass }}',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

EMAIL_HOST = '{{ django_email_host }}'
EMAIL_PORT = '{{ django_email_port }}'
EMAIL_HOST_USER = '{{ django_email_host_user }}'
EMAIL_HOST_PASSWORD = '{{ django_email_host_password }}'
EMAIL_USE_TLS = True
EMAIL_TIMEOUT = 30  # In seconds

# Custom

EMAIL_BASE_URI = 'http://{{ sf_register.fqdn }}'

MOLLIE_API_KEY = '{{ mollie_api_key }}'
