from .settings_default import *

# Django

ADMINS = [('Smokey Feet Webmaster', 'webmaster@smokeyfeet.com')]

SECRET_KEY = "{{ django_secret }}"

ALLOWED_HOSTS = ['.{{ sf_website.domain }}']

STATIC_ROOT = '{{ sf_static_root }}'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ sf_db_name }}',
        'USER': '{{ sf_db_user }}',
        'PASSWORD': '{{ sf_db_pass }}',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

EMAIL_HOST = '{{ django_email_host }}'
EMAIL_PORT = '{{ django_email_port }}'
EMAIL_HOST_USER = '{{ django_email_host_user }}'
EMAIL_HOST_PASSWORD = '{{ django_email_host_password }}'
EMAIL_USE_TLS = True
EMAIL_TIMEOUT = 30  # In seconds

DEFAULT_FROM_EMAIL = 'Smokey Feet <info@smokeyfeet.com>'

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'simple': {
            'format': '%(asctime)s [%(levelname)s:%(name)s] %(message)s'
        },
    },
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '{{ sf_log_dir }}/django-smokeyfeet.log',
            'formatter': 'simple'
        },
        'console': {
            'level':'DEBUG',
            'class':'logging.StreamHandler',
            'formatter': 'simple'
        },
    },
    'loggers': {
        'django': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': True,
        },
        'registration': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': True,
        },
    }
}

# Custom

EMAIL_BASE_URI = 'http://{{ sf_register.fqdn }}'

MOLLIE_API_KEY = '{{ mollie_api_key }}'
