[uwsgi]
socket = 127.0.0.1:3031
chdir = {{ sf_proj_path }}
pythonpath = {{ sf_proj_path }}
env = DJANGO_SETTINGS_MODULE=smokeyfeet.settings
module = smokeyfeet.wsgi:application
processes = 4
threads = 2
stats = 127.0.0.1:9191
virtualenv = {{ sf_venv_path }}
uid = emiel
gid = emiel
master = true
